@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
}

:root {
    --FONT-SIZE : 18px;
    --BARLOW : 'Barlow', sans-serif;
    --FRAUNCES : 'Fraunces', serif;
    --WHITE:  hsl(0, 0%, 100%);
    --GRAY: #333;
}

header {
        width: 100vw;
        height: 560px;
        background-image: url('./images/desktop/image-header.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 25px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sslogo{
        position: relative;
        top: 10px;
        padding:0  0 15px 0 ;
    }
    nav{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    nav a{
        padding: 12px 15px;
        font-size: 16px;
        text-decoration: none;
        color: var(--WHITE);
        font-weight: lighter;
        
    }
    nav a:hover, nav a.active {
        background-color:  var(--WHITE);
        color: #333;
        border-radius: 25px;
        font-family: var(--FRAUNCES);
    }
   
    .headertext h1{
        position: relative;
        top: 60px;
        font-family: var(--FRAUNCES);
        color: var(--WHITE);
        font-size: 40px;
        letter-spacing: 5px;
    }

    .arrow{
        position: relative;
        top: 135px;
        z-index: 2;
    }
main .container{
    display: flex;
    width: 100vw;
    height: 500px;
    font-family: var(--FRAUNCES);
}
.text{
    display: grid;
    place-items: center;
    background-color: var(--WHITE);
}
p {
    font-family: var(--BARLOW);
    line-height: 2rem;
}
.container .text .minorcontainer{
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.container .text .minorcontainer p{
    color: hsl(210, 4%, 67%);
}
 a.lmy, a.lmy:hover, a.lmy:visited {
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-thickness: 5px;
    color: var(--GRAY);
}
.container .text .minorcontainer h2 {
    font-size: 30px;
    color: var(--GRAY);
}

.text {
    flex: 1;
    width: 50%;
}
.egg {
    background: url(./images/desktop/image-transform.jpg) no-repeat center;
    background-size: cover;
}

.egg, .cup, .cherry, .orange{
    flex: 1;
    width: 50%;
}
.cup {
    background: url(./images/desktop/image-stand-out.jpg) no-repeat center;
    background-size: cover;
}

a.lmr, a.lmr:hover, a.lmr:visited {
    text-decoration: underline;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-thickness: 5px;
    color: var(--GRAY);
}
/* NEW SECTION */
.cherry{
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 45px 0;
}
.orange{
    background: url(./images/desktop/image-photography.jpg) no-repeat center;
    background-size: cover;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    gap: 2rem;
    color: hsl(167, 40%, 24%);
}